/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // LAYER 0: Default QWERTY + Russian
        default_layer {
            bindings = <
                // Left Hand
                &kp ESC      &kp Q        &kp W        &kp E        &kp R        &kp T
                &kp TAB      &kp A        &kp S        &kp D        &kp F        &kp G
                &kp LSHIFT   &kp Z        &kp X        &kp C        &kp V        &kp B
                                     &kp LCMD     &mo 1        &kp RET
                // Right Hand
                                            &kp Y        &kp U        &kp I        &kp O        &kp P        &kp BSPC
                                            &kp H        &kp J        &kp K        &kp L        &kp SEMI     &kp SQT
                                            &kp N        &kp M        &kp COMMA    &kp DOT      &kp FSLH     &kp UP
                               &kp LALT     &mo 2        &kp RALT
            >;
        };

        // LAYER 1: Numbers, F-Keys, Bluetooth
        layer_1 {
            bindings = <
                // Left Hand
                &kp TAB      &kp N1       &kp N2       &kp N3       &kp N4       &kp N5
                &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                &kp LSHIFT   &kp F1       &kp F2       &kp F3       &kp F4       &kp F5
                                     &kp LCMD     &trans       &kp CAPS
                // Right Hand
                                            &kp N6       &kp N7       &kp N8       &kp N9       &kp N0       &kp BSPC
                                            &none        &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &trans
                                            &none        &none        &none        &none        &none        &trans
                               &trans       &trans       &trans
            >;
        };

        // LAYER 2: Symbols and Media
        layer_2 {
            bindings = <
                // Left Hand
                &kp ESC      &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT
                &kp LALT     &kp C_PREV   &kp C_PP     &kp C_NEXT   &kp C_MUTE   &kp C_VOL_UP
                &kp LSHIFT   &trans       &trans       &trans       &trans       &kp C_VOL_DN
                                     &kp LCMD     &trans       &trans
                // Right Hand
                                            &kp CARET    &kp AMPS     &kp KP_MULTIPLY &kp LPAR &kp RPAR    &kp BSPC
                                            &trans       &kp EQUAL    &kp LBKT        &kp RBKT &kp BSLH    &kp GRAVE
                                            &trans       &trans       &trans          &trans   &trans    &kp TILDE
                               &trans       &trans       &trans
            >;
        };
    };
};
